$prymcol : #262626;
@import "start";
@import "mixins";
@include start;

// .nav-relative{
	// 	position: relative;
	// }
	.navbar{
		padding: 0 90px;
		// padding-left: 90px;
	}
	.first-screen{
		position: relative;;
		background: url('../img/bg.jpg') top center no-repeat;
		background-size: cover;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
	}
	.ba-main-title{

		&__intro{


			.ba-main-title__web{
				color: white;
				font-family: Roboto;
				font-size: 60px;
				font-weight: 700;
				line-height: 60px;
				text-transform: uppercase;
				border-top: 2px solid white;
				border-bottom: 2px solid white;
			}
			.button{
				@include button;
				color: #fff;
				border: 2px solid #fff;
				padding: 20px 35px;
				&:hover{
					color: #544f4b;
					background-color: #fff;
					border: 2px solid #544f4b;
				}
			}
		}

	}
	.navbar
	{
		position: absolute;
		bottom: 0;
		background-color: #252e30;
		color: #FFF;
		// padding-left: 0px;
		overflow: hidden;
		text-transform: uppercase;
	}
	.fl-left{
		display: inline-block;
	}
	.navbar h2 { color: #FFF; }
	.navbar h2 span{ color: #2a9058; }
	.navbar ul
	{
		list-style: none;
		padding-left: 0;
		overflow: hidden;
		float: right;
	}

	.navbar ul li { padding: 10px; float: left;}
	.navbar ul li a{ color:#FFF; text-decoration: none;}
	.navbar ul li.active a ,
	.navbar ul li a:hover{color:#3c7316;}



	//sec-sec
	.sec-section{
		min-height: 345px;

		.ba-sec-flex{
			display: flex;
			justify-content: space-between;
			flex-wrap: nowrap;
			&__title{
				@include title;
			}
			&__text{
				@include text;
			}
		}
	}
	.th-sec{
		background-color: #f2f2f1;
		min-height: 700px;

		.ba-photo{
			position: relative;
			& img{
				// position: absolute;
				// left: 0;
				// right: 0;
				// top: 0;
				// bottom: 0;
				// margin: auto;
				height: 100%;
			}
		}
		.ba-sec-flex{
			&__title{
				@include title;
				//margin-top: 100px;
			}
			&__text{
				@include text;
				margin-bottom: 50px;
			}	
		}
		.ba-th-flex{
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
		}

	}

	.svg-icon{
		fill: #2ecc71;
		width: 41px;
		height: 40px;
	}
	.ba-svg-flex{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.one-svg{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;	
	}
	.wrap{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		margin-top: 0;		
		.ba-sec-flex__title{
			margin: 0px;
		}
	}
	.fth-screen{
		min-height: 620px;
		.ba-sec-flex{
			&__title{
				@include title;
				//margin-top: 100px;
			}
			&__text{
				@include text;
				margin-bottom: 50px;
			}	
			.button{
				@include button;
				color: #2ecc71;
				border: 2px solid #2ecc71;
				padding: 20px 35px;
				width: 180px;

				height: 63px;	
				&:hover{
					color: #fff;
					background-color: #2ecc71;
					border: 2px solid #FFF;
				}
			}

		}
	}
	.ba-fth{
		min-height: 620px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		.button{
			display: inline-block;
		}
	}
	.progress .technique .purcent span
	{
		background-color: #22ce1d;
		height: 25px;
		display: block;
		line-height: 25px;
		text-align: right;
		color: #FFF;
		font-weight: bold;
		width: 100%;
	}
	.purcent{
		background-color: #f2f2f1;
	}
	.ba-fl-prog{
		display: flex;


	}
	h3{
		color: #566366;
		font-family: Roboto;
		font-size: 22px;
		font-weight: 700;
		line-height: 24px;
		text-transform: uppercase;
	}
	.ba-prog{
		display: flex;
		flex-direction: column;
		justify-content: center;

	}
	.six-screen{
		min-height: 420px;
		background-color: #f2f2f1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		.ba-sec-flex__title{
			@include title;
			//margin-top: 100px;
		}
		.ba-sec-flex__text{
			@include text;
			margin-bottom: 50px;
		}	
		.button{
			@include button;
			color: #2ecc71;
			border: 2px solid #2ecc71;
			padding: 20px 35px;
			&:hover{
				color: #fff;
				background-color: #2ecc71;
				border: 2px solid #FFF;
			}
		}
	}
	.seven-screen{
		min-height: 1400px;
		.ba-sec-flex__title{
			@include title;
			margin-top: 100px;
			padding: 0 150px;
			//margin-top: 100px;
		}
		.ba-sec-flex__text{
			@include text;
			margin-bottom: 50px;
		}
	}
	.ba-seven-flex{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	.grid-gallery{

		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: 300px 300px 300px;
		grid-gap: 30px;
		margin-bottom: 50px;
		.img1{
			background-color: #252e30;
			position: relative;
			overflow: hidden;
			grid-column: 1 / 5;
			grid-row: 1 / 2;
			@include overlay;
			.ba-photo-overlay:hover{
				opacity: 1;
				transform: translateX(0); 
				cursor: pointer;
			}
		}
		.img2{
			position: relative;
			overflow: hidden;
			grid-column: 5 / 9;
			grid-row: 1 / 2;
			@include overlay;
			.ba-photo-overlay:hover{
				opacity: 1;
				transform: translateX(0); 
				cursor: pointer;
			}
		}
		.img3{
			position: relative;
			overflow: hidden;
			grid-column: 9 / 13;
			grid-row: 1 / 2;
			@include overlay;
			.ba-photo-overlay:hover{
				opacity: 1;
				transform: translateX(0); 
				cursor: pointer;
			}
		}
		.img4{
			position: relative;
			overflow: hidden;
			grid-column: 1 / 5;
			grid-row: 2 / 3;
			@include overlay;
			.ba-photo-overlay:hover{
				opacity: 1;
				transform: translateX(0); 
				cursor: pointer;
			}
		}
		.img5{
			position: relative;
			overflow: hidden;
			grid-column: 5 / 9;
			grid-row: 2 / 3;
			@include overlay;
			.ba-photo-overlay:hover{
				opacity: 1;
				transform: translateX(0); 
				cursor: pointer;
			}
		}
		.img6{
			position: relative;
			overflow: hidden;
			grid-column: 9 / 13;
			grid-row: 2 / 3;
			@include overlay;
			.ba-photo-overlay:hover{
				opacity: 1;
				transform: translateX(0); 
				cursor: pointer;
			}
		}
		.img7{
			position: relative;
			overflow: hidden;
			grid-column: 1 / 5;
			grid-row: 3 / 4;
			@include overlay;
			.ba-photo-overlay:hover{
				opacity: 1;
				transform: translateX(0); 
				cursor: pointer;
			}
		}
		.img8{
			position: relative;
			overflow: hidden;
			grid-column: 5 / 9;
			grid-row: 3 / 4;
			@include overlay;
			.ba-photo-overlay:hover{
				opacity: 1;
				transform: translateX(0); 
				cursor: pointer;
			}
		}
		.img9{
			position: relative;
			overflow: hidden;
			grid-column: 9 / 13;
			grid-row: 3 / 4;
			@include overlay;
			.ba-photo-overlay:hover{
				opacity: 1;
				transform: translateX(0); 
				cursor: pointer;
			}
		}
	}

	.filter{
		padding: 40px;
		// text-decoration: none;
		color: white;
		font-family: Roboto;
		font-size: 18px;
		font-weight: 700;
		line-height: 30px;
		text-transform: uppercase;
		padding-bottom: 0;
		margin: 0;
	}
	.ba-list{
		list-style: none;

		&__item{
		}
		&__link{
			font-family: Roboto;
			font-size: 18px;
			font-weight: 400;
			line-height: 30px;
			text-decoration: none;
			color: #919191;
		}
		.ba-list__item--active{
			color: #fff ;
		}

	}
	.ba-photo__img{
		min-width: 100%;
		min-height: 100%;
		position: absolute;
		top: -9999px;
		bottom: -9999px;
		left: -9999px;
		right: -9999px;
		margin: auto;
		&:hover{
			opacity: 0.8;
			-webkit-transform: scale(1.05);
			-moz-transform: scale(1.05);
			-ms-transform: scale(1.05);
			-o-transform: scale(1.05);
			transform: scale(1.05);

		}
	}
	.eight-section{
		min-height: 900px;
		background-color: #252e30;
		.ba-sec-flex__title{
			@include title;
			margin-top: 100px;
			color: #fff;
			margin-bottom: 50px;
			line-height: 60px;
		}
		.ba-sec-flex__text{
			@include text;
			color: #919191;
		}
		.ba-sec-flex__text1{
			margin-bottom: 50px;
			line-height: 30px;
		}
	}
	strong{
		color: #fff;
	}
	////
	.contact-me .form-contact label{color: #dae0e1;margin-bottom: 20px;display: block;}
	.contact-me .form-contact input[type="text"]
	{
		background-color:#708287;
		padding: 10px; 
		color: #FFF;
		border: 0;
		width: 70%;
		margin-bottom: 10px;
	}

	.contact-me .form-contact textarea
	{
		background-color:#708287;
		padding: 10pxpx; 
		color: #FFF;
		border: 0;
		width: 70%;
		margin-bottom: 15px;
		height: 300px;
	}
	.contact-me .form-contact input[type="submit"]
	{
		background-color: #322b2b;
		color: #d8eaea;
		margin-top: 10px;
		padding: 9px;
		width: 30%;
	}
	.ba-eigth-flex{
		display: flex;
	}
	.form-flex{
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 900px;
	}
	label{
		display: block;
		font-family: Roboto;
		font-size: 18px;
		font-weight: 400;
		line-height: 30px;
		color: #fff;
	}
	.form-contact input{
		width: 100%;
		height: 60px;
		background-color: #4b5456;
		border: none;
	}
	.form-contact textarea{
		width: 100%;
		height: 280px;
		background-color: #4b5456;
		border: none;
	}
	.form-contact a{
		@include button;

		color: #fff;
		border: 2px solid #191f21;
		background-color: #191f21;
		padding: 20px 35px;
		&:hover{
			color: #191f21;
			background-color: #fff;
			border: 2px solid #FFF;
		}
	}
	.link{
		margin-top: 50px;
	}


	////
	.footer
	{
		text-align: center;
		background-color: #191f21;
		padding: 20px 0;
		color: #5d6162;
	}
	.footer ul
	{
		padding-left: 0;
		list-style: none;
		margin: 10px 0 10px 0;
	}
	.footer ul li{display: inline-block;}
	.footer ul li i:hover  {color: #FFF;  }
	.fa{
		border-radius: 50%;
		margin-left: 15px;
	}
	.footer-text span{
		color: #4b5456;
		font-family: Roboto;
		font-size: 14px;
		font-weight: 500;
		line-height: 30px;
		text-transform: uppercase;
	}
	//MEDIA

	@media (max-width: 780px){

	}
